* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.navbar {
    background-color: #333;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
}

.navbar span {
    font-size: 1.5em;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    background-color: #444;
    border-radius: 5px;
    padding: 15px 20px;
}

.pagebody {
    position: relative;
    top: 70px;
    padding: 40px;

    z-index: -1;
    background-image: linear-gradient(to bottom right, white, #AAA);
}

/* Put code relating to the body here */
.introheader {
    background-color: #777;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px 8px #666;
}

.introarticle {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hobbiesheader h2 {
    background-color: #888;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 8px #666
}

.hobbiesheader p {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hobbieslist {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hobbieslist p {
    font-size: 1.25em;
    padding-bottom: 10px;
}

.hobbieslist li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px
}

.interestslist {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.interestslist p {
    font-size: 1.25em;
    padding-bottom: 10px;
}

.interestslist li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px
}

.portheader h2 {
    background-color: #888;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 8px #666;
}

.portheader p {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portimgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.portimgs img {
    margin: 20px;
    box-shadow: 5px 10px 8px #666;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #333;
    padding: 20px;
    gap: 10px;
    top: 70px;
    left: 0;
    right: 0;

}

.footer p {
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
    background-color: #444;
    border-radius: 5px;
    padding: 15px 20px;
}